<rt:extends href="../index.html" />
<rt:block name="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/2column.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/maintainers.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
</rt:block>

<rt:block name="title">{$object.name()} \ {$t.trans('Maintainer')} \  Openpear</rt:block>

<rt:block name="extra_header">
<rt:if param="{$ot.isme($object)}">
    <script type="text/javascript">
        $(function(){
            $('.editable_field').dblclick(function(){
                var tmp_val = $(this).text();
                var name = $(this).attr('id');
                $(this).empty().append(
                    $('<form><input type="text" name="' + name + '" size="30" placeholder="' + tmp_val + '" /></form>').change(function(){
                        console.log($(this).serialize());
                        $.ajax({
                            url: '{$t.url('maintainers/update.json')}',
                            type: 'post',
                            data: $(this).serialize(),
                            dataType: 'json',
                            success: function (data, dataType) {
                                $('#' + name).text(data.maintainer[name]);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                $('#' + name).text(tmp_val);
                            }
                        });
                    }).submit(function(){
                        return false;
                    })
                );
            });
        });
    </script>
</rt:if>
</rt:block>

<rt:block name="topic_path">
  <div id="topic-path">
    <a href="{$t.url()}">{$t.trans('Home')}</a> &raquo; {$t.trans('Maintainer')} \ {$object.name()}
  </div>
</rt:block>

<rt:block name="contents">
<div class="frame-class" id="sub-title">
  <div class="container-class">
    <h2 class="inline fleft"><a href="{$t.url('maintainer')}/{$object.name()}">{$t.trans('Maintainer')} \ {$object.name()}</a></h2>
    <br class="clear" />
  </div> <!-- #container-s -->
</div> <!-- .frame-class -->

<div class="frame-class maintainers">
  <div class="container-class" id="sub-main">
    <div class="column2-l">
      <div class="column2-left">
        <img src="{$object.avatar(64)}" width="64" id="maintainer-image" />
        <h3 id="maintainer-name">{$object.name()}</h3><br />
        <h3 id="maintainer-fullname">{$ot.str($object)}</h3>
        <div id="maintainer-description">
          <a href="#maintainer-package">{$t.trans('Packages')}: {$ot.count($charges)}</a>, <a href="#maintainer-favs">{$t.trans('Favorites')} {$ot.count($favorites)}</a>
        </div>
      </div> <!-- / column2-right -->
      <div class="column2-right">
        <table id="maintainer-profile">
          <tr>
            <th>{$t.trans('Profile')}: </th>
            <td><span id="profile" class="editable_field">{$object.profile()}</span></td>
          </tr>
          <tr>
            <th>{$t.trans('URL')}: </th>
            <td><span id="url" class="editable_field">{$object.url()}</span></td>
          </tr>
          <tr>
            <th>{$t.trans('Location')}: </th>
            <td><span id="location" class="editable_field">{$object.location()}</span></td>
          </tr>
          <tr>
            <th>{$t.trans('Members Since')}: </th>
            <td>{$t.df($object.created(), 'M d, Y')}</td>
          </tr>
        </table>
      </div>
      <br class="clear">
    </div> <!-- end of column2-l -->
    
    <div class="column2-c">
      <div class="column2-left">
        <h3>{$t.trans('Timeline')} <a href="{$t.url('maintainer')}/{$object.name()}/timelines.atom"><img src="images/global-icon-feed-dark.png" alt="Feed: Recent Releases" /></a></h3>
        <div class="timeline timeline-user">
          <ul rt:param="timelines" rt:var="timeline">
            <li class="{$loop_evenodd}">
              <div class="timeline-type"><img src="{$ot.tlicon($timeline.type())}" alt="{$ot.tlalt($timeline.type())}" /></div>
              <div class="timeline-title">
                {$t.noop($timeline.subject())}. <em> -- {$ot.date_ago($timeline.created())}</em>
              </div>
              <div class="timeline-description">
                {$t.noop($timeline.description())}
              </div>
            </li>
          </ul>
        </div>
      </div> <!-- / column2-right -->
      <div class="column2-right">
        <h3 id="maintainer-package">{$t.trans('Packages')}</h3>
        
        <rt:loop param="{$charges}" var="charge">
          <div class="maintainer-package">
            <rt:if param="{$charge.package().public_level()}" value="0">
              <img src="./images/global-icon-protected.png" alt="this package is protected" class="fright" />
            </rt:if>
            <rt:if param="{$charge.package().liked($t.user())}" value="true">
              <img src="./images/global-icon-star.png" class="fright" />
            <rt:else />
              <a href="{$t.url('package')}/{$charge.package().name()}/like/{$ot.hash('rand')}"><img src="./images/global-icon-star-add.png" class="fright" /></a>
            </rt:if>
            <h4><a href="{$t.url('package')}/{$charge.package().name()}">{$charge.package().name()}</a> (<a href="{$t.url('package')}/{$charge.package().name()}/download">{$charge.package().latest_release().fm_version()}</a>) <span>({$charge.role()})</span></h4>
            <p>{$charge.package().description()}</p>
            <p><rt:if param="{$charge.package().primary_tag()}">{$t.trans('Category')}: <a href="{$t.url('packages')}?category=$charge.package().primary_tag()}">{$charge.package().primary_tag()}</a> </rt:if><em>Last Update: {$t.df($charge.package().updated(), 'Y-m-d')}</em>
            </p>
          </div>
          <rt:else />
          <p class="info">{$t.trans("{1} doesn't have any public package yet.", $object.name())}</p>
        </rt:loop>
        
        <h3 id="maintainer-favs">{$t.trans('Favorites')}</h3>
        
        <ul class="list-liner" rt:param="favorites" rt:var="favorite">
          <li>&raquo; <a href="{$t.url('package')}/{$favorite.package().name()}">{$favorite.package().name()}</a></li>
        </ul>
      </div>
    </div> <!-- end of column2-c -->
    
    <br class="clear">
    
  </div> <!-- / container-class sub-main -->
</div>
</rt:block>

