<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">ユーザー情報登録 - openpear</rt:block>

<rt:block name="contents">
        <h3>ユーザー情報登録</h3>
        <form action="{$rhaco.url('maintainer/signup')}" method="post">
            <div class="field">
                <label for="open_id"><b>OpenID URL</b></label>
                <p>{$openId}</p>
            </div>
            <div class="field">
                <label for="name"><b>Subversionアカウント名</b></label>
                <p><input type="text" size="20" value="" name="name" /> (半角英数字と_-が使用できます)</p>
            </div>
            <div class="field">
                <label for="password"><b>Subversionパスワード</b></label>
                <p><input type="password" size="16" value="" name="password" /></p>
            </div>
            <div class="field">
                <label for="mail">メールアドレス</label>
                <p><input type="text" size="30" value="{$openid_sreg_email}" name="mail" /></p>
            </div>
            <div class="field">
                <label for="fullname"><b>名前</b></label>
                <p><input type="text" size="20" value="{$openid_sreg_nickname}" name="fullname" /></p>
            </div>
            <div class="field">
                <label for="profile">自己紹介</label>
                <p><textarea name="profile" rows="20" cols="50"></textarea></p>
            </div>
            <div class="field">
                <p><input type="submit" value="sign-up" /></p>
            </div>
        </form>
        <br />
</rt:block>


