<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title"><rt:if param="{$maintainer.fullname}">{$maintainer.fullname}<rt:else />{$maintainer.name}</rt:if>'s timeline - openpear</rt:block>

<rt:block name="contents">
  <h3 class="big"><rt:if param="{$maintainer.fullname}">{$maintainer.fullname}<rt:else />{$maintainer.name}</rt:if>'s timeline</h3>
  
  <ul class="menu">
    <li><a href="{$rhaco.url('maintainer')}/{$maintainer.name}">profile</a></li>
    <li class="active"><a href="{$rhaco.url('maintainer')}/{$maintainer.name}/timeline">timelines</a></li>
  </ul>
  
  <table id="timelines">
  <rt:loop param="object_list" var="object">
    <tr class="{$f.evenodd($key)}">
      <td>{$f.dateformat($object.date)}</td>
      <td>[<a href="{$rhaco.url('changeset')}/{$object.revision}">{$object.revision}</a>]</td>
      <td><a href="{$rhaco.url('package')}/{$object.factPackage.name}">{$object.factPackage.name}</a></td>
      <td>{$f.noop($f.text2html($object.log))}</td>
    </tr>
  </rt:loop>
  </table>
  
  <div id="pager">
    <rt:pager />
  </div>
</rt:block>
