<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">ページが見つかりません - openpear</rt:block>

<rt:block name="contents">
        <div class="col">
            <h3>403 <span class="red">Forbidden</span></h3>
            <p>このページを表示する権限がありません。</p>
        </div>

        <div class="col">
            <h3>Are <span class="red">You</span> Maintainer?</h3>
            <p><a href="{$rhaco.url('login')}">ログインしてから</a>もう一度アクセスしてみてください。</p>
        </div>

        <div class="col last">
            <h3>What Shall <span class="red">You</span> Do?</h3>
            <p>諦めましょう。。</p>
        </div>
</rt:block>

