<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">ページが見つかりません - openpear</rt:block>

<rt:block name="contents">
        <div class="col">
            <h3>404 <span class="red">Not</span> Found</h3>
			<p>ページが見つかりません。</p>
        </div>

        <div class="col">
            <h3><span class="red">Some</span> Error Happened?</h3>
			<p>もしかすると、何かのエラーかもしれません。</p>
        </div>

        <div class="col last">
            <h3>What Shall <span class="red">You</span> Do?</h3>
            <p>諦めましょう。。</p>
        </div>
</rt:block>

