<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">_('Not Found') - openpear</rt:block>

<rt:block name="contents">
        <div class="col">
            <h3>404 <span class="red">Not</span> Found</h3>
            <p>ページが見つかりません。</p>
        </div>

        <div class="col">
            <h3><span class="red">Some</span> Error Happened?</h3>
            <p>もしかすると、何かのエラーかもしれません。</p>
        </div>

        <div class="col last">
            <h3>What Shall <span class="red">You</span> Do?</h3>
            <p>
                時間をおいてから再度試してみると良いかもしれません
            </p>
        </div>
        
        <br clear="all">
        <div id="google_fixurl">
            <script type="text/javascript">
              var GOOG_FIXURL_LANG = 'ja';
              var GOOG_FIXURL_SITE = 'http://openpear.org/';
            </script>
            <script type="text/javascript" 
                src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
        </div>
</rt:block>

