<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">ユーザー情報設定 - openpear</rt:block>

<rt:block name="contents">
        <h3>_('Account Settings')</h3>
        <form action="{$rhaco.uri()}" method="post" rt:reference="true">
            <div class="field">
                <label for="name"><b>_('Subversion Account')</b></label>
                <p><b>{$name}</b></p>
            </div>
            <div class="field">
                <label for="password"><b>_('Subversion Password')</b></label>
                <p><input type="password" size="16" value="" name="password" /></p>
            </div>
            <div class="field">
                <label for="mail">_('mail')</label>
                <p><input type="text" size="30" value="{$openid_sreg_email}" name="mail" /></p>
            </div>
            <div class="field">
                <label for="fullname"><b>_('fullname')</b></label>
                <p><input type="text" size="20" value="{$openid_sreg_nickname}" name="fullname" /></p>
            </div>
            <div class="field">
                <label for="profile">_('profile')</label>
                <p><textarea name="profile" rows="20" cols="50"></textarea></p>
            </div>
            <div class="field">
                <p><input type="submit" value="_('update')" /></p>
            </div>
        </form>
        <br />
</rt:block>
