<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">_('maintainers') - openpear</rt:block>

<rt:block name="info"><rt:if param="{$isLogin}">登録していない PHP 開発者が居たら、是非 openpear へ招待してください<rt:else />メンテナーの登録は、今すぐOpenIDで<a href="{$rhaco.url('login')}">ログイン</a>！</rt:if></rt:block>

<rt:block name="contents">
  <div id="search_form">
    <form action="{$rhaco.uri()}" method="get" rt:reference="true">
      <label for="q">_('Maintainer Search')</label>
      <p><input type="text" name="q" size="18" /> 
        <input type="submit" value="_('search')" /></p>
    </form>
  </div>

  <?php $object_list = array_chunk($object_list, 3); ?>
  <rt:loop param="object_list" var="row">
      <rt:loop param="row" var="object">
          <div class="col<rt:if param="{$key}" value="2"> last</rt:if>">
              <h4>{$of.gravatar($object.mail, 's=24')} <a href="{$rhaco.url('maintainer')}/{$object.name}"><rt:if param="{$object.fullname}">{$object.fullname}<rt:else />{$object.name}</rt:if></a></h4>
              <p>{$f.text2html($of.st($of.d($object.profile, $object.name)), 200)}</p>
          </div>
      </rt:loop>
      <br clear="all" />
  </rt:loop>
  <div id="pager">
    <rt:pager />
  </div>
</rt:block>
