<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">メンテナー - openpear</rt:block>

<rt:block name="info"><rt:if param="{$isLogin}">登録していない PHP 開発者が居たら、是非 openpear へ招待してください<rt:else />メンテナーの登録は、今すぐOpenIDで<a href="{$rhaco.url('login')}">ログイン</a>！</rt:if></rt:block>

<rt:block name="contents">
	<?php $object_list = array_chunk($object_list, 3); ?>
	<rt:loop param="object_list" var="row">
	    <rt:loop param="row" var="object">
	        <div class="col<rt:if param="{$key}" value="2"> last</rt:if>">
	            <h3><a href="{$rhaco.url('maintainer')}/{$object.name}"><rt:if param="{$object.fullname}">{$object.fullname}<rt:else />{$object.name}</rt:if></a></h3>
	            <p>{$of.st($of.d($object.profile, $object.name))}</p>
	        </div>
	    </rt:loop>
	    <br clear="all" />
	</rt:loop>
</rt:block>
