<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">{$object.name} - Open PEAR Server</rt:block>

<rt:block name="info">新しいプロジェクトの追加は<a href="{$rhaco.url('packages/create')}">プロジェクト情報作成</a>から行えます</rt:block>
<rt:block name="contents">
        <h3>{$object.name}</h3>
        <p>Subversion Repository: <b><a href="{$rhaco.constant('SVN_URL')}{$object.name}">{$rhaco.constant('SVN_URL')}{$object.name}</a></b></p>
        <p>{$f.text2html($object.description)}</p>
        <rt:if param="{$isMaintainer}"><p class="info">プロジェクトの管理は<a href="{$rhaco.url('package')}/{$object.name}/settings">プロジェクト情報編集</a>で行えます</p></rt:if>
        
        <h3>メンテナー</h3>
<?php $object_list = array_chunk($object->maintainers, 3); ?>
<rt:loop param="object_list" var="row">
    <rt:loop param="row" var="object">
        <div class="col<rt:if param="{$key}" value="2"> last</rt:if>">
            <h3><rt:if param="{$object.fullname}">{$object.fullname}<rt:else />{$object.name}</rt:if></h3>
            <p>{$f.text2html($object.profile)}</p>
            <p><a href="{$rhaco.url('maintainer')}/{$object.name}">Profile</a></p>
        </div>
    </rt:loop>
    <div style="width:100%">&nbsp;</div>
</rt:loop>

</rt:block>
