<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>
<rt:block name="adHeader">
    <link rel="alternate" type="application/rss+xml" title="新着パッケージ" href="{$rhaco.url('feed/package/new')}" />
    <link rel="alternate" type="application/rss+xml" title="更新パッケージ" href="{$rhaco.url('feed/package/update')}" />
    <rt:if param="{$pager.isPrev()}"><link rel="prev" href="{$rhaco.uri()}?{$pager.query($pager.prevPage)}" /></rt:if>
    <rt:if param="{$pager.isNext()}"><link rel="next" href="{$rhaco.uri()}?{$pager.query($pager.nextPage)}" /></rt:if>
</rt:block>

<rt:block name="title">_('packages') - openpear</rt:block>

<rt:block name="info">新しいプロジェクトの追加は<a href="{$rhaco.url('packages/create')}">プロジェクト情報作成</a>から行えます</rt:block>
<rt:block name="contents">
  <div id="search_form">
    <form action="{$rhaco.uri()}" method="get" rt:reference="true">
      <label for="q">_('Package Search')</label>
      <p><input type="text" name="q" id="search_q" /> 
        <input type="submit" value="_('search')" /></p>
    </form>
  </div>

<div class="autopagerize_page_element">
<?php $object_list = array_chunk($object_list, 3); ?>
<rt:loop param="object_list" var="row">
    <rt:loop param="row" var="object">
        <div class="col<rt:if param="{$key}" value="2"> last</rt:if>">
            <h4>
                <rt:if param="{$object.isPublic()}">
                    <img src="{$rhaco.templateurl('images/Edit_Yes_32.png')}" width="32" height="32"
                        alt="誰でもコミットできます" title="誰でもコミットできます" />
                <rt:else />
                    <img src="{$rhaco.templateurl('images/Edit_No_32.png')}" width="32" height="32"
                        alt="メンテナだけがコミットできます" title="メンテナだけがコミットできます" />
                </rt:if>
                <a href="{$rhaco.url('package')}/{$object.name}">{$object.name}</a></h4>
            <div style="text-align:right;">_('Latest Release:') {$object.getLatestVersion('not yet')}</div>
            <p>{$f.noop($f.nl2br($of.st($of.d($f.substring($object.description, 200)), 'a')))}</p>
        </div>
    </rt:loop>
    <br clear="all" />
</rt:loop>
</div>

  <div id="pager">
    <rt:pager />
  </div>

</rt:block>
