<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">{$object.name} - Open PEAR Server</rt:block>

<rt:block name="info">新しいプロジェクトの追加は<a href="{$rhaco.url('packages/create')}">プロジェクト情報作成</a>から行えます</rt:block>
<rt:block name="contents">
<script type="text/javascript">
$(function(){
	$('#favorite').click(function(){
	    $.post(
	    	'{$rhaco.url('packages/favorite')}',
	    	{packageId: {$object.id}, type: 'json'},
	    	function(json){
	    	    $('#facoriteMessage').text(json.message);
		    },
	    	'json'
	    );
	});
});
</script>

        <h3>{$object.name}</h3>
        <p>Subversion Repository: <b><a href="{$rhaco.constant('SVN_URL')}{$object.name}">{$rhaco.constant('SVN_URL')}{$object.name}</a></b> / Latest Release: <b>{$latestVersion}</b></p>
        <p>{$f.toA($f.text2html($object.description))}</p>
        <rt:if param="{$isLogin}"><button id="favorite">イイネ</button><span id="favoriteMessage"></span></rt:if>
        <rt:if param="{$isMaintainer}">
        <p class="info">
        	開発は、svn クライアントで <b>{$rhaco.constant('SVN_URL')}{$object.name}</b> をチェックアウトして行ってください<br />
        	プロジェクトの管理は<a href="{$rhaco.url('package')}/{$object.name}/settings">プロジェクト情報編集</a>で行えます</p>
        </rt:if>
        
        <h3>メンテナー</h3>
<?php $object_list = array_chunk($object->maintainers, 3); ?>
<rt:loop param="object_list" var="row">
    <rt:loop param="row" var="object">
        <div class="col<rt:if param="{$key}" value="2"> last</rt:if>">
            <h3><a href="{$rhaco.url('maintainer')}/{$object.name}"><rt:if param="{$object.fullname}">{$object.fullname}<rt:else />{$object.name}</rt:if></a> ({$object.role})</h3>
            <p>{$f.toA($f.text2html($object.profile))}</p>
        </div>
    </rt:loop>
    <br clear="all" />
</rt:loop>

</rt:block>
