<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">{$object.name} - openpear</rt:block>
<rt:block name="adHeader">
<link href="http://media.riaf.org/google-code-prettify/src/prettify.css" rel="stylesheet" type="text/css" />
<script src="http://media.riaf.org/google-code-prettify/src/prettify.js" type="text/javascript"></script>
</rt:block>
<rt:block name="info">新しいプロジェクトの追加は<a href="{$rhaco.url('packages/create')}">プロジェクト情報作成</a>から行えます</rt:block>
<rt:block name="contents">
<script type="text/javascript">
$(function(){
    $('#favorite').click(function(){
        $.post(
            '{$rhaco.url('packages/favorite')}',
	    	{packageId: {$object.id}, type: 'json'},
	    	function(json){
	    	    $('#favoriteMessage').text(json.message);
		    },
	    	'json'
	    );
	});
});
</script>

        <h3 class="big">{$object.name}</h3>
        <p>Subversion Repository: <b><a href="{$rhaco.url('repository')}/{$object.name}">{$rhaco.url('repository')}/{$object.name}</a></b> / _('Latest Release:') <b>{$latestVersion}</b></p>
       
        <div class="description">
        {$of.d($object.description)}
        </div>

        <?php $latestRelease = unserialize($object->latestRelease); ?>

        <rt:ifnot param="{$latestVersion}" value="no release">
        <h3 class="big">_('How to Install')</h3>
        <p class="monospace info">
        sudo pear install openpear/{$object.name}<rt:ifnot param="{$latestRelease['version___l___release_stab']}" value="stable">-{$latestRelease['version___l___release_stab']}</rt:ifnot>
        </p>
        </rt:ifnot>

        <h4>このプロジェクトを応援する開発者!</h4>
        <div id="favorites">
	        <rt:if param="{$isLogin}"><button id="favorite">&nbsp;イイネ!&nbsp;</button> <span id="favoriteMessage"></span></rt:if>
	        <p><rt:loop param="{$object.favorites}" var="favorite">
	           <span><a href="{$rhaco.url('maintainer')}/{$favorite.name}">{$favorite.fullname}</a></span>
	        </rt:loop></p>
        </div>
        <rt:if param="{$isMaintainer}">
        <p class="info">
        	開発は、svn クライアントで <b>{$rhaco.constant('SVN_URL')}/{$object.name}</b> をチェックアウトして行ってください<br />
        	プロジェクトの管理は<a href="{$rhaco.url('package')}/{$object.name}/settings">プロジェクト情報編集</a>で行えます</p>
        </rt:if>
        
        <h3 class="big">_('maintainer')</h3>
<?php $object_list = array_chunk($object->maintainers, 3); ?>
<rt:loop param="object_list" var="row">
    <rt:loop param="row" var="object">
        <div class="col<rt:if param="{$key}" value="2"> last</rt:if>">
            <h4><a href="{$rhaco.url('maintainer')}/{$object.name}"><rt:if param="{$object.fullname}">{$object.fullname}<rt:else />{$object.name}</rt:if></a> ({$object.role})</h4>
            <p>{$f.text2html($of.st($of.d($object.profile, $object.name)), 200)}</p>
        </div>
    </rt:loop>
    <br clear="all" />
</rt:loop>
<script type="text/javascript"> prettyPrint(); </script>
</rt:block>
