<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">プロジェクト - Open PEAR Server</rt:block>

<rt:block name="info">新しいプロジェクトの追加は<a href="{$rhaco.url('packages/create')}">プロジェクト情報作成</a>から行えます</rt:block>
<rt:block name="contents">
<?php $object_list = array_chunk($object_list, 3); ?>
<rt:loop param="object_list" var="row">
    <rt:loop param="row" var="object">
        <div class="col<rt:if param="{$key}" value="2"> last</rt:if>">
            <h3>{$object.name}</h3>
            <p>{$object.description}</p>
            <p><a href="{$rhaco.url('package')}/{$object.name}">ProjectPage</a></p>
        </div>
    </rt:loop>
    <div style="width:100%">&nbsp;</div>
</rt:loop>

</rt:block>
