@charset 'utf-8';

/**
 * Openpear style for maintainers
 *
 * @description   Openpear style
 * @package       openpear
 * @date          2009/08/01
 * @author        sotarok
 */

.maintainers #sub-main {
  padding-top: 30px;
}


.maintainers #maintainer-image {
  float: left;
  border: solid 1px #ccc;
  padding: 5px;
  background: #f0f0f0;
  margin-right: 20px;
  margin-bottom: 40px;
}

.maintainers #maintainer-name {
  font-size: 3em;
  color: #333;
  display: inline;
  margin: 0 0 1.0em 0;
  line-height: 1em;
}

.maintainers #maintainer-fullname {
  font-size: 1.5em;
  color: #555;
  display: inline;
}

.maintainers #maintainer-profile {
  width: 100%;
  border: solid 1px #ccc;
  background: #fdf5e6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.maintainers #maintainer-profile td ,
.maintainers #maintainer-profile th {
  padding: 3px;
  font-size: 0.9em;
}
.maintainers #maintainer-profile th {
  width: 120px;
  vertical-align: top;
  text-align: right;
}
.maintainers #maintainer-profile td {
}

.maintainers .maintainer-package {
  border: solid 1px #ccc;
  background: #f0f0f0;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.maintainers .maintainer-package span {
  font-size: 0.8em;
  color: #333;
}
.maintainers .maintainer-package h4 {
  font-size: 1.3em;
  line-height: 1em;
  margin: 0.5em 0;
}
.maintainers .maintainer-package p {
  line-height: 1.1em;
  font-size: 0.9em;
}
.maintainers .maintainer-package img {
  margin-left: 5px;
}
.maintainers .maintainer-package em {
  margin-left: 15px;
}

