<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">{$f.escape($path)} - リポジトリブラウザ - openpear</rt:block>
<rt:block name="adHeader">
<link href="http://media.riaf.org/google-code-prettify/src/prettify.css" rel="stylesheet" type="text/css" />
<script src="http://media.riaf.org/google-code-prettify/src/prettify.js" type="text/javascript"></script>
</rt:block>
<rt:block name="info">実際のリポジトリ上のURL <a href="{$rhaco.constant('SVN_URL')}{$path}">{$rhaco.constant('SVN_URL')}{$path}</a></rt:block>

<rt:block name="contents">
	<h3>リポジトリブラウザ</h3>
    <rt:if param="{$path}">
        <p>package: <a href="{$rhaco.url('package')}/{$of.pp($path)}">{$of.pp($path)}</a></p>
    </rt:if>

	<dl>
		<dt>リビジョン</dt>
		<dd>{$entry['commit']['revision']}</dd>
		<dt>編集者</dt>
		<dd><a href="{$rhaco.url('maintainer')}/{$entry['commit']['author']}">{$entry['commit']['author']}</a></dd>
        <dt>パス</td>
        <dd><a href="{$rhaco.url('repository')}{$of.dn($path)}">{$of.dn($path)}</a></dd>
	</dl>
	<p class="info">{$f.text2html($entry['log'])}</p>
	<rt:if param="{$body}">
	<h3>ソース</h3>
		<pre class="prettyprint">
{$f.escape($body)}
		</pre>
		<script type="text/javascript"> prettyPrint(); </script>
	</rt:if>
</rt:block>
