<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>
<rt:block name="adHeader">
    <link rel="alternate" type="application/rss+xml" title="repository feed" href="{$rhaco.url('feed/repository')}" />
</rt:block>
<rt:block name="title">{$path} - _('repository browser') - openpear</rt:block>

<rt:block name="info">実際のリポジトリ上のURL <a href="{$rhaco.constant('SVN_URL')}{$path}">{$rhaco.constant('SVN_URL')}{$path}</a></rt:block>

<rt:block name="contents">
	<h3>_('repository browser')</h3>

    <rt:if param="{$path}">
        <p>package: <a href="{$rhaco.url('package')}/{$of.pp($path)}">{$of.pp($path)}</a></p>
    </rt:if>

    <p class="info"><b>r{$rev}</b>: {$f.noop($f.text2html($log))}</p>

	<table class="repository">
		<tr>
			<th>name</th><th class="revision">rev</th><th>author</th><th>comment</th>
		</tr>
		<rt:if param="{$path}">
		<tr class="odd">
			<td><img src="{$rhaco.templateurl('images')}/dir.png" width="16" height="16" /> <a href="{$rhaco.url('repository')}{$of.dn($path)}">..</a></td>
			<td align="center"> - </td>
			<td align="center"> - </td>
			<td align="center"> - </td>
		</tr>
		</rt:if>
<rt:loop param="entries" var="entry">
		<tr class="{$f.evenodd($key)} {$entry['kind']}">
			<td class="name">
				<rt:if param="{$entry['kind']}" value="dir"><img src="{$rhaco.templateurl('images')}/dir.png" width="16" height="16" /> </rt:if>
				<rt:if param="{$entry['kind']}" value="file"><img src="{$rhaco.templateurl('images')}/file.png" width="16" height="16" /> </rt:if>
				<a href="{$rhaco.url('repository')}{$path}/{$entry['name']}">{$entry['name']}</a></td>
			<td class="revision" align="right"><a href="{$rhaco.url('changeset')}/{$entry['commit']['revision']}">{$entry['commit']['revision']}</a></td>
			<td class="author"><rt:if param="{$entry['commit']['author']}" value="openpear"> - <rt:else /><a href="{$rhaco.url('maintainer')}/{$entry['commit']['author']}">{$entry['commit']['author']}</a></rt:if></td>
            <td class="log">{$f.noop($f.text2html($entry['log']))}</td>
		</tr>
</rt:loop>

	</table>
</rt:block>
