<rt:extends href="index.html" />
<rt:block name="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/2column.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/dashboard.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
</rt:block>

<rt:block name="title">{$t.trans('Dashboard')} \  Openpear</rt:block>

<rt:block name="topic_path">
  <div id="topic-path">
    <a href="{$t.url()}">{$t.trans('Home')}</a> &raquo; {$t.trans('Dashboard')}
  </div>
</rt:block>

<rt:block name="contents">
  <div class="frame-class" id="sub-title">
    <div class="container-class">
      <h2 class="inline fleft"><a href="{$t.url('maintainer')}/{$maintainer.name()}">{$t.trans('Dashboard')}</a></h2>
      <br class="clear" />
    </div> <!-- #container-s -->
  </div> <!-- .frame-class -->
  
  <div class="frame-class dashboard">
    <div class="container-class" id="sub-main">

    <rt:loop param="notices" var="notice">
      <div class="message-system info" id="system-message-{$notice.id()}">
        <a href="javascript:;"
          onclick="
          $.post(
            '{$t.url('dashboard/message/hide')}',
            {message_id: {$notice.id()}},
            function(data) {
              $('#system-message-{$notice.id()}').slideUp();
            }
          );
          " class="fright">[x]</a>
      {$t.noop($notice.fm_description())}
      </div>
    </rt:loop>

<div class="column2">
<div class="column2-left">

<h3>{$t.trans('Dashboard Timeline')}</h3>

<div class="timeline timeline-dashboard">

<ul rt:param="timelines" rt:var="timeline">
  <li class="{$loop_evenodd}">
    <div class="timeline-type"><img src="{$ot.tlicon($timeline.type())}" alt="{$ot.tlalt($timeline.type())}" /></div>
    <div class="timeline-title">
      {$t.noop($timeline.subject())}. <em> -- {$ot.date_ago($timeline.created())}</em>
    </div>
    <div class="timeline-description">
      <img src="{$timeline.maintainer().avatar(32)}" alt="{$timeline.maintainer().name()}" width="32" class="user-icon fleft" />
      {$t.noop($timeline.description())}
    </div>
    <br class="clear">
  </li>
</ul>

</div>

</div> <!-- / column2-left -->
<div class="column2-right">

  <h3>{$t.trans('My Packages')}</h3>

  &raquo; <a href="{$t.url('packages/create')}">{$t.trans('Create Package')}</a>
  
  <rt:loop param="my_packages" var="package">
    <div class="dashboard-packages">
      <a href="{$t.url('package')}/{$package.name()}" class="package-link">{$package.name()}</a> <a href="{$t.url('package')}/{$package.name()}/manage" class="manage-link">&raquo; manage</a> 
      <p>Latest: <a href="{$t.url('package')}/{$package.name()}/download">{$package.latest_release().fm_version()}</a>, {$package.favored_count()} Fans</p>
    </div>
  </rt:loop>

  <h3>{$t.trans('Favorite Packages')}</h3>
  <rt:loop param="fav_packages" var="package">
    <div class="dashboard-packages">
      <a href="{$t.url('package')}/{$package.name()}">{$package.name()}</a><rt:if param="{$package.latest_release().id()}"> <a href="{$t.url('package')}/{$package.name()}/download">{$package.latest_release().fm_version()}</a> </rt:if>
    </div>
    <rt:else />
    {$t.trans('No favs.')}
  </rt:loop>
</div>

<br class="clear">
</div> <!-- end of column2 -->


<br class="clear">


</div> <!-- / container-class sub-main -->


</div>
</div>

</rt:block>

