<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta name="robots" content="INDEX,FOLLOW" />
  
  <!-- $Id$ -->
  
  <meta name="keywords" content="" />
  <meta name="description" content="" />

<rt:block name="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/top.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
</rt:block>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/openpear.js"></script>

  <!-- additinal header -->
<rt:block name="extra_header">
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{$t.url('rss')}" />
</rt:block>

  <title><rt:block name="title">Openpear :: Open PEAR Repository Channel</rt:block></title>
</head>
<body>
  <div id="nequal-pre-header"><a href="http://nequal.jp/" target="_blank">powered by nequal</a></div>

  <!-- id:frame start -->
  <div id="frame">
    <div id="container" class="container-class">

      <div id="header" class="main-class">
        <h1><a href="{$t.url()}"><img src="images/header_logo.gif" alt="Openpear :: Open PEAR Repository Channel" /></a></h1>

        <div id="header-navi">
          <ul id="header-navi-sub">
          <rt:if param="{$t.is_login()}" value="true">
            <li><a href="{$t.url()}">{$t.trans('Home')}</a> &nbsp; | </li>
            <li><img src="{$t.user().avatar()}" /></li>
            <li><a href="{$t.url('dashboard')}">{$t.trans('Dashboard')}</a></li>
            <li><a href="{$t.url('message/inbox')}">{$t.trans('Inbox')}<rt:if param="{$unread_messages_count}"> ({$unread_messages_count})</rt:if></a></li>
            <li><a href="{$t.url('maintainer')}/{$t.user().name()}">{$t.trans('Profile')}</a></li>
            <li><a href="{$t.url('account/logout')}">{$t.trans('Log out')}</a></li>
          <rt:else />
            <li><a href="{$t.url()}">{$t.trans('Home')}</a></li>
            <li><a href="{$t.url('account/login')}">{$t.trans('Login')}</a></li>
          </rt:if>
          </ul>

          <ul id="header-navi-global">
            <li><a href="">{$t.trans('Timeline')}</a></li>
            <li><a href="">{$t.trans('Packages')}</a></li>
            <li><a href="">{$t.trans('Maintainers')}</a></li>
            <li><a href="">{$t.trans('Tickets')}</a></li>
          </ul>
        </div>
      </div>

      <rt:block name="topic_path" />

    </div> <!-- end of #container -->

    <!-- main contents -->
    <rt:block name="contents">
    <div class="frame-class" id="top-main">

      <div class="container-class">
        <div id="main-site-description">
          <p class="fleft big">
          <span class="big">{$package_count}</span> PEAR packages.
          </p>
          <p class="fright aright">
          Openpear is a PEAR Repository Channel and Subversion Hosting Service.<br />
          <span class="small">since November 2008</span>
          </p>
        </div>

        <form action="{$t.url('search')}" id="main-search-form" class="clear">
          {$t.trans('Search:')} <label><input type="radio" name="search_for" value="packages" checked /> {$t.trans('Packages')}</label> <label><input type="radio" name="search_for" value="maintainers" />{$t.trans('Maintainers')}</label> <br />
          <input type="text" class="radius-2" name="q" id="main-search-q">
          <input type="submit" class="radius-2 bold" value="{$t.trans('Search')}" id="main-search-submit" />
        </form>

        <div id="main-column">

          <div id="main-column-right">
            <h2><a href="{$t.url('packages')}?sort=-released_at">{$t.trans('Recent Releases')}</a> <a href="{$t.url('packages/releases.atom')}"><img src="images/global-icon-feed.gif" alt="{$t.trans('Feed: Recent Releases')}" /></a></h2>
            <ul id="main-recent" rt:param="recent_releases" rt:var="package">
              <li><a href="{$t.url('package')}/{$package.name()}">{$package.name()}</a> <em>-- {$ot.date_ago($package.released_at())}</em></li>
            </ul>
          </div>
          
          <div id="main-column-center">
              <h2>{$t.trans('Most Downloaded')}</h2>
              <ul id="main-recent" rt:param="most_downloaded" rt:var="package">
                <li><a href="{$t.url('package')}/{$package.name()}">{$package.name()}</a></li>
              </ul>
            </div>

          <div id="main-column-left">
            <h2><a href="{$t.url('packages')}/tags">{$t.trans('Active Categories')}</a></h2>
            <ul id="main-cat-list" rt:param="primary_tags" rt:var="tag">
              <li><a href="{$t.url('packages')}?category={$tag->name()}">{$tag->name()}</a></li>
            </ul>
            <div id="main-cat-more">
              <a href="{$t.url('packages')}/tags">{$t.trans('more')} &raquo;</a>
            </div>
          </div>
        </div>

      </div> <!-- #container-s -->
    </div> <!-- .frame-class -->

    <div class="frame-class">

      <div class="container-class">

        <div id="main-section">

          <div id="main-section-left">
            <h2><span class="h2-init">E</span>asiest</h2>
            <p>
            {$t.trans('No more hassle to propose a new package for inclusion in PEAR or to create a PEAR package! Openpear provides you with automated way from building a PEAR package all the way to registering it to channel.')}
            </p>
            <!--
            <p>
              もう PEAR パッケージ登録のための投票や、あの PEAR パッケージ作成の苦痛を味わう必要あありません！
              Openpear では、PEAR パッケージのビルド作業、チャンネル登録作業はすべて自動です！
            </p>
            -->
          </div>

          <div id="main-section-center">
            <h2><span class="h2-init">S</span>hared</h2>
            <p>
            {$t.trans('Source code on Openpear is open to everyone. Would you like to commit bug fix which bug you\'ve found? Would you like to maintain a package no one is taking care of anymore? You can make it with Openpear!')}
</p>
            <!--
            <p>
              Openpear のソースコードはオープンに公開されています。バグを発見したからコミットしたい？開発者のいなくなってしまったパッケージをメンテナンスしたい？
              その思いを現実のものにできます！
            </p>
            -->
          </div>

          <div id="main-section-right">
            <h2><span class="h2-init">F</span>astest</h2>
            <p>
            {$t.trans('Openpear is offering the fastest process you\'ve never experienced, from building a PEAR package upto release! No hassle for user as well to search all over the internet for package.')}
</p>
            <!--
            <p>
              Openpear を利用すれば、パッケージを作成し、リリースするまでのプロセスは PEAR 史上最速となるでしょう！
              パッケージ利用者ももうライブラリを探しまわる必要はありません。
            </p>
            -->
          </div>
        </div> <!-- #main-section -->

        <blockquote id="main-dream">
            "{$t.trans('It\'s a dreams come true.')}"
          <em>-- sotarok</em>
        </blockquote>

      </div>
    </div>
    </rt:block>
    <!--/main contents -->

    <!-- footer -->
    <div class="frame-class footer-wrap">
      <div id="footer">
        <ul id="footer-menu">
          <li><a href="{$t.url('about')}">{$t.trans('About')}</a> | </li>
          <li><a href="http://openpear.blogspot.com/" target="_blank">{$t.trans('Blog')}</a> | </li>
          <!--
          <li><a href="">Logos</a> | </li>
          -->
          <li><a href="http://groups.google.com/group/openpear" target="_blank">{$t.trans('Google Group')}</a> | </li>
          <li><a href="{$t.url('help')}">{$t.trans('Help')}</a> | </li>
          <li><a href="http://pledgie.com/campaigns/11253">{$t.trans('Donate')}</a></li>
          <!--
          <li><a href="">Contact</a></li>
          -->
        </ul>
        <p>Copyright &copy; 2009 <a href="http://openpear.org/">Openpear</a>.  All Rights Reserved.</p>
        <!--
        <p><a href="{$t.url()}">Terms of Service</a> | <a href="{$t.url('policy')}">Privacy Policy</a></p>
          -->
        <p>powered by <a href="http://nequal.jp/" target="_blank">nequal</a></p>
        <p>hosted by <a href="http://www.dino.co.jp/" target="_blank">Dino Co.,Ltd.</a></p>
      </div>
    </div>
    <!-- /footer -->

  </div><!-- end of #frame -->
</body>
</html>

