<rt:extends href="base.html" />
<rt:block name="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/1column.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/2column.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/package.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
</rt:block>

<rt:block name="title">{$changeset.revision()} \ {$t.trans('Changest')} \ {$package.name()} \ {$t.trans('Package')} \ Openpear</rt:block>
<rt:block name="topic_path">
  <div id="topic-path">
    <a href="{$t.url()}">{$t.trans('Home')}</a> &raquo; <a href="{$t.url('package')}/{$package.name()}">{$package.name()}</a> &raquo; {$t.trans('Timeline')} &raquo; {$changeset.revision()}
  </div>
</rt:block>

<rt:block name="package_main">
<div class="changeset-nav">
  <rt:if param="{$paginator.is_prev()}"><a href="{$t.map_url('changeset', $paginator->prev())}">&laquo; {$t.trans('Previous Changes')}</a> | </rt:if>
  <rt:if param="{$paginator.is_next()}"><a href="{$t.map_url('changeset', $paginator->next())}">{$t.trans('Next Changes')} &raquo;</a> | </rt:if>
  <rt:if param="{$paginator.last()}" param="{$revision}"><rt:else /><a href="{$t.map_url('changeset', $paginator->last())}">{$t.trans('Latest')}</a>
</div>
<div class="column2-l">

<div class="column2-left">

  <h3>{$t.trans('Changeset')} {$changeset.revision()} <em class="changeset-time">-- {$ot.date_ago($changeset.created())}</em></h3>
  
  <dl>
    <dt>{$t.trans('Author')}</dt>
    <dd><img src="{$changeset.maintainer().avatar()}" /><a href="{$t.url('maintainer')}/{$changeset.maintainer().name()}">{$changeset.maintainer()}</a></dd>
    <dt>{$t.trans('Comment')}</dt>
    <dd>{$changeset.comment()}</dd>
  </dl>

</div> <!-- / column2-right -->
<div class="column2-right">
  <h3>{$t.trans('Files')}</h3>
  <ul class="changeset-files">
    <rt:loop param="{$changeset.fm_changed()}" var="changed">
      <li class="{$changed.status()}"><a href="{$t.url('package')}/{$package.name()}/src/{$changed.fm_path()}?rev={$changeset.revision()}">{$changed.fm_path()}</a></li>
    </rt:loop>
  </ul>

</div>

<br class="clear">
</div> <!-- end of column2-l -->

<div class="column1 source-diff">
  <h3>{$t.trans('Diffs')}</h3>

  {$t.noop($ot.svn_diff($diff))}

</div> <!-- end of column2 -->

</rt:block>
