<rt:extends href="base.html" />
<rt:block name="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/1column.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/2column.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/package.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
</rt:block>

<rt:block name="title">{$changeset.revision()} \ Changest \ {$package.name()} \ Package \ Openpear</rt:block>
<rt:block name="topic_path">
  <div id="topic-path">
    <a href="{$t.url()}">Home</a> &raquo; <a href="{$t.url('package')}/{$package.name()}">{$package.name()}</a> &raquo; Timeline &raquo; {$changeset.revision()}
  </div>
</rt:block>

<rt:block name="package_main">
<div class="changeset-nav">

  <a href="package_Hoge_changeset.html">&laquo; Previous Changes</a> | 
  <a href="package_Hoge_changeset.html">Next Changes &raquo; </a> | 
  <a href="package_Hoge_changeset.html">Latest</a>

</div>
<div class="column2-l">

<div class="column2-left">

  <h3>Changeset {$changeset.revision()} <em class="changeset-time">-- {$ot.date_ago($changeset.created())}</em></h3>
  
  <dl>
    <dt>Author</dt>
    <dd><img src="{$changeset.maintainer().avatar()}" /><a href="{$t.url('maintainer')}/{$changeset.maintainer().name()}">{$changeset.maintainer()}</a>
    </dd>
    <dt>Comment</dt>
    <dd>{$log['msg']}
    </dd>
  </dl>

</div> <!-- / column2-right -->
<div class="column2-right">
  <h3>Files</h3>
  <ul class="changeset-files">
    <rt:loop param="{$changeset.fm_changed()}" var="changed">
      <li class="{$changed.status()}"><a href="{$t.url('package')}/{$package.name()}/src/{$svn_url}/{$changed.fm_path()}?rev={$changeset.revision()}">{$changed.fm_path()}</a></li>
    </rt:loop>
  </ul>

</div>

<br class="clear">
</div> <!-- end of column2-l -->

<div class="column1 source-diff">
  <h3>Diffs</h3>

  {$t.noop($ot.svn_diff($diff))}

</div> <!-- end of column2 -->

</rt:block>
