<rt:extends href="base.html" />
<rt:block name="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/2column.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/package.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
  <link rel="stylesheet" href="js/prettify/prettify.css" type="text/css" media="all" />
</rt:block>
<rt:block name="extra_header"><script type="text/javascript" src="js/prettify/prettify.js"></script></rt:block>
<rt:block name="title">Documentation \ {$package.name()} \ Package \ Openpear</rt:block>

<rt:block name="topic_path_path">
<a href="{$t.url('pacakge')}/{$t.htmlencode($package.name())}">{$t.htmlencode($package.name())}</a> &raquo; Documentation
</rt:block>

<rt:block name="package_navi_current_doc"> class="current"</rt:block>
<rt:block name="package_main">    
<div class="column2">
  <div class="w715px column2-left">
    <div id="package-doc">
      {$body}
    </div> <!-- end of package-doc -->
  </div>
  
  <div class="w200px column2-right">
    <h3>Table of Contents</h3>
    <p class="aright">
      <ul class="list-toc" rt:param="tree" rt:var="f">
        <rt:if param="{$f['kind']}" value="file">
          <li><a href="{$t.url('package')}/{$package.name()}/doc/{$lang}/{$f['name']}">{$f['name']}</a></li>
        </rt:if>
      </ul>
      
      <h3>Version Archive</h3>
      <ul class="list-toc" rt:param="other_tree" rt:var="current" rt:key="other_path">
        <rt:if param="other_path" var="trunk">
        <rt:else />
        <li><a href="{$t.url('package')}/{$package.name()}/doc/{$other_path}/README">{$other_path}</a></li>
        </rt:if>
      </ul>
      
    </div>
    
    <br class="clear">
  </div> <!-- end of column2 -->
  
</div>

</rt:block>
