<rt:extends href="base.html">
<rt:block name="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/package.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
</rt:block>
<rt:block name="title">{$t.trans('Downloads')} \ {$package.name()} \ {$t.trans('Package')} \ Openpear</rt:block>

<rt:block name="topic_path_path">
<a href="{$t.url('package')}/{$package.name()}">{$package.name()}</a> &raquo; {$t.trans('Downloads')}
</rt:block>

<rt:block name="package_navi_current_download"> class="current"</rt:block>
<rt:block name="package_main">
<table id="sub-package-downloads" rt:param="object_list" rt:var="object">
  <thead>
    <tr>
      <th>{$t.trans('Version')}</th>
      <th>{$t.trans('Release Date')}</th>
      <th>{$t.trans('Download')}</th>
      <th class="w500px">{$t.trans('Information')}</th>
    </tr>
  </thead>
  
  <tbody>
    <tr class="odd" id="{$object.id()}">
      <td class="bold acenter">
        {$object.fm_version()}
      </td>
      <td class="bold acenter">
        {$ot.date_ago($object.created())}
      </td>
      <td class="acenter">
        <a href="{$t.url('get')}/{$object.filename()}">{$object.filename()}</a> / <a href="{$t.url('package')}/{$package.name()}/src/tags/release-{$object.version()}-{$object.fm_created('YmdHis')}">Source</a>
      </td>
      <td>
        <dl>
          <rt:if param="{$object.fm_settings().dep()}">
          <dt>{$t.trans('Dependencies')}:</dt>
          <dd>
            <ul class="list-standard" rt:param="{$object.fm_settings().dep()}" rt:var="dep">
              <li>- {$dep.package_name()}</li>
            </ul>
          </dd>
          </rt:if>
          <dt>{$t.trans('Changes')}:</dt>
          <dd>
            <pre class="w500px">{$object.notes()}</pre>
          </dd>
        </dl>
      </td>
    </tr>
  </tbody>
</table>
</rt:block>
