<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="adHeader">
	<link href="http://media.riaf.org/jquery/jquery.suggest.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="http://media.riaf.org/jquery/jquery.suggest.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#suggest").suggest("{$rhaco.url('api/maintainers')}",{});
		});
	</script>
</rt:block>

<rt:block name="title">{$object.name}のメンテナ管理 - Open PEAR Server</rt:block>

<rt:block name="info">Open PEAR Server に登録されているメンテナー一覧は<a href="{$rhaco.url('maintainer')}">こちらから</a></rt:block>

<rt:block name="contents">
	<h3>メンテナ追加</h3>
	<form action="{$rhaco.url('package')}/{$object.name}/maintainer/add" method="post">
		<div class="field">
		    <label for="maintainer">ユーザーID（Subversion ユーザー名）</label>
		    <p><input name="maintainer" type="text" size="19" id="suggest" /></p>
		</div>
		<div class="field">
		    <label for="role">状態</label>
		    <p><select name="role">
		    	<option value="lead">lead</option>
		    	<option value="developer">developer</option>
		    	<option value="contributor">contributor</option>
		    	<option value="helper">helper</option>
	    	</select></p>
		</div>
		<div class="field">
			<p><input type="submit" value="追加" /></p>
		</div>
	</form>
	
	<h3>メンテナ一覧</h3>
<?php $maintainers = array_chunk($object->maintainers, 3); ?>
<rt:loop param="maintainers" var="row">
    <rt:loop param="row" var="maintainer">
        <div class="col<rt:if param="{$key}" value="2"> last</rt:if>">
            <h3><a href="{$rhaco.url('maintainer')}/{$maintainer.name}"><rt:if param="{$maintainer.fullname}">{$maintainer.fullname}<rt:else />{$maintainer.name}</rt:if></a> ({$maintainer.role})</h3>
            <p>{$f.toA($f.text2html($maintainer.profile))}</p>
            <table><tr><td>
            <form action="{$rhaco.url('package')}/{$object.name}/maintainer/update" method="post">
                <input type="hidden" name="id" value="{$maintainer.id}" />
			    <label for="role">状態</label>
			    <?php // できない気がするw
                    $role = $maintainer->role;
			    ?>
			    <p><select name="role" rt:reference="true">
			    	<option value="lead">lead</option>
			    	<option value="developer">developer</option>
			    	<option value="contributor">contributor</option>
			    	<option value="helper">helper</option>
		    	</select></p>
				<p><input type="submit" value="変更" /></p>
            </form>
            </td><td>
            <form action="{$rhaco.url('package')}/{$object.name}/maintainer/remove" method="post">
            	<input type="hidden" name="id" value="{$maintainer.id}" />
				<p><input type="submit" value="メンテナから外す" /></p>
            </form>
            </td></tr></table>
        </div>
    </rt:loop>
    <br clear="all" />
</rt:loop>
</rt:block>
