<rt:extends href="base.html" />

<rt:block name="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/2column.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/1column.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/package.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
</rt:block>

<rt:block name="title">{$t.trans('Manage')} \ {$package.name()} \ {$t.trans('Package')} \ Openpear</rt:block>

<rt:block name="topic_path_path">
<a href="{$t.url('pacakge')}/{$package.name()}">{$package.name()}</a> &raquo; {$t.trans('Manage Package')}
</rt:block>

<rt:block name="package_main">
<div id="sub-package-description">
  <div class="column2">
    <div class="column2-left">
      <h3>{$t.trans('Manage Package')}</h3>
      <h4>{$t.trans('Settings')}</h4>
      <ul class="list-standard">
        <li><a href="{$t.url('package')}/{$package.name()}/manage/edit">{$t.trans('Package settings')}</a></li>
      </ul>
      
      <h4>{$t.trans('Release')} </h4>
      
      <ul class="list-standard">
        <li><a href="{$t.url('package')}/{$package.name()}/manage/release">{$t.trans('Release package')}</a></li>
        <li><a href="{$t.url('package')}/{$package.name()}/manage/release/setting">{$t.trans('Release setting')}</a></li>
      </ul>
      
      <h4>{$t.trans('Maintainers')}</h4>
      
      <ul class="list-standard">
        <li>
          <ul class="list-liner">
            <rt:loop param="maintainers" var="m">
            <li><img src="{$m.avatar()}" /> <a href="{$t.url('maintainer')}/{$m.name()}">{$m.name()}</a></li>
            </rt:loop>
          </ul>
        </li>
        <li class="clear"><a href="javascript:;" onclick="$('#add-maintainer').show();">{$t.trans('Add maintainer')}</a>
          <form id="add-maintainer" class="dnone" action="{$t.url('package')}/{$package.name()}/maintainer/add" method="post"><input type="text" name="maintainer_name" size="30" /><input type="submit" value="add" /> <a href="javascript:;" onclick="$('#add-maintainer').hide();">cancel</a></form></li>
        </ul>
        
        <h4>{$t.trans('Tags')}</h4>
        <ul class="list-standard" rt:param="{$package.package_tags()}" rt:var="package_tag">
          <rt:if param="{$package_tag.prime()}" value="true">
            <li><a href="{$t.url('packages')}?category={$package_tag.tag().name()}" class="bold">{$package_tag.tag().name()} (Primary)</a></li>
          <rt:else />
            <li><a href="{$t.url('packages')}?category={$package_tag.tag().name()}">{$package_tag.tag().name()}</a>
              <form action="{$t.url('package')}/{$package.name()}/category/prime" class="inline" onsubmit="return window.confirm('Set this tag to primary (as a Category)?');" method="post"><input type="submit" value="set this to primary" /><input type="hidden" name="tag_id" value="{$package_tag.tag_id()}" /></form>
              <form action="{$t.url('package')}/{$package.name()}/category/remove" class="inline" onsubmit="return window.confirm('Delete this tag?');" method="post">
                <input type="image" src="./images/global-icon-notice.png" value="Delete" />
                <input type="hidden" name="tag_id" value="{$package_tag.tag_id()}" />
              </form>
            </li>
          </rt:if>
        </ul>
        
        <h4>{$t.trans('Maintainance')}</h4>
        <ul class="list-standard">
          <li><a href="">Solicit maintainer</a></li>
          <li><a href="">Set to "Not Maintained"</a></li>
        </ul>
      </div>
      
      <div class="column2-right">

        <br class="clear" />

      </div> <!-- end of column2 -->
      
      <br class="clear" />
      
    </div>

  </div>
</div>
</rt:block>
