<rt:block name="sub_package_navi">
<div id="sub-package-navi">
 <ul>
  <li><a href="{$t.url('packages')}?sort=-released_at">{$t.trans('Recent Releases')}</a></li>
  <li class="current"><a href="{$t.url('packages')}?sort=-updated">{$t.trans('Updates')}</a></li>
  <li><a href="{$t.url('packages')}?sort=-favored_count">{$t.trans('Fans')}</a></li>
 </ul>
</div>
</rt:block>
<rt:block name="subtitle">{$t.trans('Recent Update Packages')}</rt:block>

<rt:block name="thead">
<tr>
 <th>
 {$t.trans('Package')}
 </th>
 <th>
 {$t.trans('Date')}
 </th>
 <th>
 {$t.trans('Changeset')}
 </th>
 <th>
 {$t.trans('Commit Message')}
 </th>
</tr>
</rt:block>


<rt:block name="package_row">
  <tr class="{$evenodd}">
    <th class="">
      <h4><a href="{$t.url('package')}/{$object.name()}">{$object.name()}</a></h4>
      <p class="inline">{$t.trans('Author')}: <img src="{$object.author().avatar()}" /> <a href="{$t.url('maintainer')}/{$object.author().name()}">{$ot.str($object.author())}</a></p> 
      <rt:if param="{$object.primary_tag()}"><p class="inline">{$t.trans('Category')}: <a href="{$t.url('packages')}?category={$object.primary_tag().name()}">{$object.primary_tag().name()}</a></p></rt:if>
   </th>
   <td class="nowrap">
     {$ot.date_ago($object.updated())}
   </td>
   <td class="nowrap">
     <a href="{$t.map_url('changeset', $object.recent_changeset())}">{$object.recent_changeset()}</a>
   </td>
   <td class="description">
     {$object.recent_changeset_object()}
   </td>
  </tr>
</rt:block>
