<rt:block name="sub_package_navi">
<div id="sub-package-navi">
 <ul>
  <li><a href="{$t.url('packages')}?sort=-released_at">Recent Releases</a></li>
  <li class="current"><a href="{$t.url('packages')}?sort=-updated">Updates</a></li>
  <li><a href="{$t.url('packages')}?sort=-favored_count">Fans</a></li>
 </ul>
</div>
</rt:block>
<rt:block name="subtitle">Recent Update Packages</rt:block>

<rt:block name="thead">
<tr>
 <th>
 Package
 </th>
 <th>
 Date
 </th>
 <th>
 Changeset
 </th>
 <th>
 Commit Message
 </th>
</tr>
</rt:block>


<rt:block name="package_row">
  <tr class="{$evenodd}">
    <th class="">
      <h4><a href="{$t.url('package')}/{$object.name()}">{$object.name()}</a></h4>
      <p class="inline">Author: <img src="{$object.author().avatar()}" /> <a href="{$t.url('maintainer')}/{$object.author().name()}">{$ot.str($object.author())}</a></p> 
      <rt:if param="{$object.primary_tag()}"><p class="inline">Category: <a href="{$t.url('packages')}?category={$t.htmlencode($object.primary_tag().name())}">{$t.htmlencode($object.primary_tag().name())}</a></p></rt:if>
   </th>
   <td class="nowrap">
     {$object.fm_updated()}
   </td>
   <td class="nowrap">
     {$object.recent_changeset()}
   </td>
   <td class="description">
     not yet..
   </td>
  </tr>
</rt:block>
