<rt:extends href="base.html" />
<rt:block name="title">{$object.name()} \ Package \ Openpear</rt:block>

<rt:block name="topic_path_path">
 {$object.name()}
</rt:block>

<rt:block name="package_navi_current_top"> class="current"</rt:block>

<rt:block name="package_main">
<div id="sub-package-description">
  <div class="sub-package-description">
    <p class="title">
      Description
    </p>
    <p class="description">
      {$object.description()}
    </p>
  </div>
  <div id="sub-package-description-category">
    <h3 class="inline fleft">Categories: </h3>
    <ul class="list-liner" id="package-categories">
      <rt:loop param="{$package.package_tags()}" var="package_tag">
        <rt:if param="{$package_tag.prime()}" value="true">
          <li class="bold"><a href="{$t.url('packages')}?category={$t.htmlencode($package_tag.tag().name())}">{$t.htmlencode($package_tag.tag().name())} (primary)</a></li>
        <rt:else />
          <li><a href="{$t.url('packages')}?category={$t.htmlencode($package_tag.tag().name())}">{$t.htmlencode($package_tag.tag().name())}</a></li>
        </rt:if>
      </rt:loop>
      <li><input type="button" id="js-category-add-button" value="+Add" onclick="$('#js-category-add-form').show();$('#add-category-tag_name').focus();" /></li>
      <li id="js-category-add-form" class="dnone">
      <form action="{$t.url('package')}/{$package.name()}/category/add" id="add-category" method="post">
        <input name="tag_name" type="text" size="30" id="add-category-tag_name" />
        <input type="hidden" name="prime" value="false" />
        <input type="submit" value="add" />
        <a href="javascript:;" onclick="$('#js-category-add-form').hide();">cancel</a>
      </form>
      </li>
    </ul>
  </div>
  
  <div class="column2">
    
    <div class="column2-left">
    
      <h3>Recent Release</h3>
    <rt:if param="{$recent_releases}">
      <ul class="list-standard" rt:param="{$recent_releases}" rt:var="release">
        <li>- <a href="{$t.url('package')}/{$object.name()}/download#{$release.id()}">{$release.fm_version()}</a> <em>-- released on {$release.fm_created()}</em></li>
      </ul>
      <pre>% pear install {$pear_alias}/{$object.installName()}</pre>
      <p class="aright"><a href="./package_Hoge_downloads.html">View All Releases &gt;&gt;</a></p>
      
      <h3>Changes</h3>
      <pre>* 2009-01-27 - Store old and new values for updates, and store all attributes on destroy.
         Refactored revisioning methods to work as expected
* 2008-10-10 - changed to make it work in development mode
* 2008-04-19 - refactored to make compatible with dirty tracking in edge rails
         and to stop storing both old and new values in a single audit
* 2008-04-18 - Fix NoMethodError when trying to access the :previous revision</pre>

    <rt:else />
    <p class="info">There are no releases for this package.<br />
    </p>
    <p>
    You can use this package only the version in repository.
    </p>

    <rt:if param="{$object.external_repository()}">
      <pre> % {$object.repoistory_type_cmd()} {$object.external_repository()}</pre>
    <rt:else />
      <pre> % svn co {$svn_url}/{$object.name()}/trunk</pre>
    </rt:if>

    </rt:if>
    </div>

    <div class="column2-right">
      <h3>License</h3>
      <p class="tiny-margin">
        {$object.license()}
      </p>
      <h3>Maintainers</h3>
      <ul class="list-liner" rt:param="{$maintainers}" rt:var="maintainer">
        <li><a href="{$t.url('maintainer')}/{$maintainer.name()}"><img src="{$maintainer.avatar()}" /> {$maintainer.name()}</a></li>
      </ul>
      <br class="clear">
      <h3>Fans</h3>
      <p>
        <img src="./images/global-icon-star.png" /> {$object.favored_count()}
      </p>
      <ul class="list-liner" rt:param="{$favored_maintainers}" rt:var="maintainer">
        <li><a href="{$t.url('maintainer')}/{$maintainer.name()}"><img src="{$maintainer.avatar()}" /> {$maintainer.name()}</a></li>
      </ul>
      <br class="clear">
      
      <rt:if param="{$t.logined()}" value="true">
        <rt:if param="{$object.liked($t.user())}" value="true">
          <a href="{$t.url('package')}/{$object.name()}/unlike/{$ot.hash('rand')}" class="clear">Remove your fav.</a>
        <rt:else />
          <a href="{$t.url('package')}/{$object.name()}/like/{$ot.hash('rand')}" class="clear"><img src="./images/global-icon-star-add.png" /> Add your fav.</a>
        </rt:if>
        <br class="clear">
      </rt:if>
      
      <rt:comment>
      <h3>Dependencies</h3>
      <ul class="list-standard">
        <li>- <a href="">openpear/Fuga (>= 0.1.3)</a></li>
        <li>- <a href="">pear/DB (>= 1.0.0)</a></li>
      </ul>
      </rt:comment>
      <br class="clear">
    </div>
    
  </div> <!-- end of column2 -->
  
  <div class="package-changes">
  </div>
  
  <h3>Timeline <a href="{$t.url('package')}/{$object.name()}/timelines.atom"><img src="./images/global-icon-feed-dark.png" alt="Feed: Recent Releases" /></a></h3>
  <div class="timeline timeline-user">
    <ul rt:param="timelines" rt:var="timeline">
      <li class="{$loop_evenodd}">
        <div class="timeline-type"><img src="{$ot.tlicon($timeline.type())}" alt="{$ot.tlalt($timeline.type())}" /></div>
        <div class="timeline-title">
          {$t.noop($timeline.subject())}. <em> -- {$ot.date_ago($timeline.created())}</em>
        </div>
        <div class="timeline-description">
          {$t.noop($timeline.description())}
        </div>
      </li>
    </ul>
  </div>
</div>
</rt:block>
