<rt:extends href="../index.html" />

<rt:block name="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/2column.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/package.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
</rt:block>

<rt:block name="title">Packages \ Openpear</rt:block>

<rt:block name="topic_path">
  <div id="topic-path">
    <a href="{$t.url()}">Home</a> &raquo; <a href="{$t.url('packages')}">Packages</a>
  </div>
</rt:block>

<rt:block name="contents">
  <div class="frame-class" id="sub-title">
    <div class="container-class">
      <h2 class="inline fleft"><a href="{$t.url('packages')}">Packages</a></h2>
      <form action="{$t.url('packages')}" id="sub-search-form" method="post" rt:ref="true">
        <input name="q" type="text" class="radius-2 darkgray" id="sub-search-q" value="package search" onfocus="this.value = ''; this.style.color = '#000';" />
        <input type="submit" class="radius-2" id="sub-search-submit" value="Search" />
      </form>
      <br class="clear" />
    </div> <!-- #container-s -->
  </div> <!-- .frame-class -->
  <div class="frame-class">
    <div class="container-class" id="sub-main">
      <rt:block name="sub_package_navi" />
      <div class="column1">
        <h3><rt:block name="subtitle">Recent Released Packages</rt:block></h3>
        <table class="packages-table" rt:param="object_list" rt:var="object">
          <thead>
            <tr>
              <th>
                Package
              </th>
              <th>
                Date
              </th>
              <th>
                Version
              </th>
              <th>
                Description
              </th>
            </tr>
          </thead>
          <tbody>
            <rt:block name="package_row" />
          </tbody>
        </table>
        <rt:if param="{$paginator}">
        <div class="pager">
          <ul>
            <rt:if param="{$paginator.is_first()}"><li> <a href="?{$paginator.query($paginator.first())}">&laquo; First</a> </li></rt:if>
            <?php
              $counter = 50;
              for($counter=$paginator->wh_first($counter);$counter<=$paginator->wh_last($counter);$counter++):
            ?>
            <rt:if param="{$paginator.current()}" value="{$counter}">
            <li class="current"> {$counter} </li>
            <rt:else />
            <li> <a href="?{$paginator.query($counter)}">{$counter}</a> </li>
            </rt:if>
            <?php endfor; ?>
            <rt:if param="{$paginator.is_last()}"><li> <a href="?{$paginator.query($paginator.last())}">Last &raquo;</a> </li></rt:if>
          </ul>
        </div>
        </rt:if>
      </div>
    </div>
  </div>
</div>

</rt:block>
