<rt:extends href="base.html" />
<rt:block name="title">{$object.name()} \ {$t.trans('Package')} \ Openpear</rt:block>

<rt:block name="topic_path_path">
 {$object.name()}
</rt:block>

<rt:block name="og:url"><meta property="og:title" content="{$object.name()} \ {$t.trans('Package')} \ Openpear" /></rt:block>
<rt:block name="og:url"><meta property="og:url" content="{$t.url('package')}/{$package.name()}" /></rt:block>

<rt:block name="package_navi_current_top"> class="current"</rt:block>

<rt:block name="package_main">
<div id="sub-package-description">
  <rt:loop param="{$object.getflags()}" var="flag">
    <rt:if param="{$flag}" value="recruite">
      <p id="sub-package-description-notify" class="warning">
        {$t.trans('This package is accepting maintainers for admission.')}
      </p>
    </rt:if>
    <rt:if param="{$flag}" value="nomaint">
      <p id="sub-package-description-notify" class="notice">
        {$t.trans('This package is not maintained.')}
      </p>
    </rt:if>
  </rt:loop>


  <div class="sub-package-description">
    <p class="title">
      {$t.trans('Description')}
    </p>
    <p class="description">
      {$object.description()}
    </p>
  </div>
  <div id="sub-package-description-category">
    <h3 class="inline fleft">{$t.trans('Categories')}: </h3>
    <ul class="list-liner" id="package-categories">
      <rt:loop param="{$package.package_tags()}" var="package_tag">
        <rt:if param="{$package_tag.prime()}" value="true">
          <li class="bold"><a href="{$t.url('packages')}?category={$package_tag.tag().name()}">{$package_tag.tag().name()} (primary)</a></li>
        <rt:else />
          <li><a href="{$t.url('packages')}?category={$package_tag.tag().name()}">{$package_tag.tag().name()}</a></li>
        </rt:if>
      </rt:loop>
      <li><input type="button" id="js-category-add-button" value="{$t.trans('+Add')}" onclick="$('#js-category-add-form').show();$('#add-category-tag_name').focus();" /></li>
      <li id="js-category-add-form" class="dnone">
      <form action="{$t.url('package')}/{$package.name()}/category/add" id="add-category" method="post">
        <input name="tag_name" type="text" size="30" id="add-category-tag_name" />
        <input type="hidden" name="prime" value="false" />
        <input type="submit" value="{$t.trans('add')}" />
        <a href="javascript:;" onclick="$('#js-category-add-form').hide();">{$t.trans('cancel')}</a>
      </form>
      </li>
    </ul>
  </div>
  
  <div class="column2">
    
    <div class="column2-left">
    
      <h3>{$t.trans('Recent Release')}</h3>
    <rt:if param="{$recent_releases}">
      <ul class="list-standard" rt:param="{$recent_releases}" rt:var="release">
        <li>- <a href="{$t.url('package')}/{$object.name()}/downloads#{$release.id()}">{$release.fm_version()}</a> <em>-- released on {$release.fm_created()}</em></li>
      </ul>
      <pre>% pear install {$pear_alias}/{$object.installName()}</pre>
      <p class="aright"><a href="{$t.url('package')}/{$object.name()}/downloads">{$t.trans('View All Releases')} &gt;&gt;</a></p>
      
      <rt:if param="{$package.latest_release().is_notes()}">
          <h3>{$t.trans('Changes')}</h3>
          <pre>{$package.latest_release().notes()}</pre>
      </rt:if>

    <rt:else />
    <p class="info">{$t.trans('There are no releases for this package.')}<br />
    </p>
    <p>
    {$t.trans('You can use this package only the version in repository.')}
    </p>

    <rt:if param="{$object.external_repository()}">
      <pre> % {$object.repoistory_type_cmd()} {$object.external_repository()}</pre>
    <rt:else />
      <pre> % svn co {$svn_url}/{$object.name()}/trunk</pre>
    </rt:if>

    </rt:if>
    </div>

    <div class="column2-right">
      <iframe frameborder="0" scrolling="no" allowtransparency="true" style="border: medium none; overflow: hidden; width: 120px; height: 21px;" src="http://www.facebook.com/plugins/like.php?href={$t.url('package')}/{$object.name()}&amp;layout=button_count&amp;show_faces=false&amp;width=120&amp;action=like&amp;colorscheme=light&amp;height=21"></iframe></iframe>
      <h3>{$t.trans('License')}</h3>
      <p class="tiny-margin">
        {$object.license()}
      </p>
      <h3>{$t.trans('Maintainers')}</h3>
      <ul class="list-liner" rt:param="{$maintainers}" rt:var="maintainer">
        <li><a href="{$t.url('maintainer')}/{$maintainer.name()}"><img src="{$maintainer.avatar()}" /> {$maintainer.name()}</a></li>
      </ul>
      <br class="clear">
      <h3>{$t.trans('Fans')}</h3>
      <p>
        <img src="./images/global-icon-star.png" /> {$object.favored_count()}
      </p>
      <ul class="list-liner" rt:param="{$favored_maintainers}" rt:var="maintainer">
        <li><a href="{$t.url('maintainer')}/{$maintainer.name()}"><img src="{$maintainer.avatar()}" /> {$maintainer.name()}</a></li>
      </ul>
      <br class="clear">
      
      <rt:if param="{$t.is_login()}" value="true">
        <rt:if param="{$object.liked($t.user())}" value="true">
          <a href="{$t.url('package')}/{$object.name()}/unlike/{$ot.hash('rand')}" class="clear">Remove your fav.</a>
        <rt:else />
          <a href="{$t.url('package')}/{$object.name()}/like/{$ot.hash('rand')}" class="clear"><img src="./images/global-icon-star-add.png" /> Add your fav.</a>
        </rt:if>
        <br class="clear">
      </rt:if>
      
      <rt:if param="{$object.fm_settings().dep()}">
      <h3>{$t.trans('Dependencies')}</h3>
      <ul class="list-standard" rt:param="{$object.fm_settings().dep()}" rt:var="dep">
        <li>- {$dep.package_name()}</li>
      </ul>
      </rt:if>
      <br class="clear">
    </div>
    
  </div> <!-- end of column2 -->
  
  <div class="package-changes">
  </div>
  
  <h3>{$t.trans('Timeline')} <a href="{$t.url('package')}/{$object.name()}/timelines.atom"><img src="./images/global-icon-feed-dark.png" alt="Feed: Recent Releases" /></a></h3>
  <div class="timeline timeline-user">
    <ul rt:param="timelines" rt:var="timeline">
      <li class="{$loop_evenodd}">
        <div class="timeline-type"><img src="{$ot.tlicon($timeline.type())}" alt="{$ot.tlalt($timeline.type())}" /></div>
        <div class="timeline-title">
          {$t.noop($timeline.subject())}. <em> -- {$ot.date_ago($timeline.created())}</em>
        </div>
        <div class="timeline-description">
          {$t.noop($timeline.description())}
        </div>
      </li>
    </ul>
  </div>
</div>
</rt:block>
