<rt:block name="sub_package_navi">
<div id="sub-package-navi">
 <ul>
  <li class="current"><a href="{$t.url('packages')}?sort=-released_at">{$t.trans('Recent Releases')}</a></li>
  <li><a href="{$t.url('packages')}?sort=-updated">{$t.trans('Updates')}</a></li>
  <li><a href="{$t.url('packages')}?sort=-favored_count">{$t.trans('Fans')}</a></li>
 </ul>
</div>
</rt:block>
<rt:block name="subtitle">{$t.trans('Recent Released Packages')}</rt:block>

<rt:block name="package_row">
  <tr class="{$evenodd}">
    <th class="">
      <h4><a href="{$t.url('package')}/{$object.name()}">{$object.name()}</a></h4>
      <p class="inline">{$t.trans('Author')}: <img src="{$object.author().avatar()}" /> <a href="{$t.url('maintainer')}/{$object.author().name()}">{$ot.str($object.author())}</a></p> 
      <rt:if param="{$object.primary_tag()}"><p class="inline">{$t.trans('Category')}: <a href="{$t.url('packages')}?category={$object.primary_tag().name()}">{$object.primary_tag().name()}</a></p></rt:if>
   </th>
   <td class="nowrap">
     <rt:if param="{$object.latest_release().id()}">
      {$ot.date_ago($object.latest_release().created())}
     <rt:else />
      {$t.trans('No release.')}
     </rt:if>
   </td>
   <td class="nowrap">
     <rt:if param="{$object.latest_release().id()}">
       <a href="{$t.url('package')}/{$object.name()}/download">{$object.latest_release().fm_version()}</a>
      <rt:else />
       {$t.trans('No release.')}
      </rt:if>
   </td>
   <td class="description">
    {$object.description()}
   </td>
  </tr>
</rt:block>
