<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">{$object.name}のリリース - Open PEAR Server</rt:block>

<rt:block name="info">パッケージのビルドには多少時間がかかる場合があります。ボタン連打しないでね☆</rt:block>

<rt:block name="contents">
	<h3>パッケージをリリースする</h3>
	<form action="{$rhaco.uri()}" method="post" rt:reference="true">
		<div class="field">
		    <label for="name">パッケージ名</label>
		    <p>{$object.name}</p>
		</div>
		<div class="field">
			<label for="build_path">対象ディレクトリ</label>
			<p>/{$object.name}/<input type="text" name="build_path" /></p>
		</div>
		<div class="field">
		    <label for="version">バージョン</label>
		    <p><input name="version" type="text" size="10" /></p>
		</div>
		<div class="field">
		    <label for="stability">リリース状態</label>
		    <p><select name="stability">
		    	<option value="stable" selected>stable</option><option value="beta">beta</option><option value="alpha">alpha</option>
		    </select></p>
		</div>
		<div class="field">
			<label for="license_name">ライセンス</label>
			<p><input type="text" name="license_name" size="22" /></p>
		</div>
		<div class="field">
			<label for="license_url">ライセンス参照先</label>
			<p><input type="text" name="license_url" size="22" /></p>
		</div>
		<div class="field">
			<label for="php_min">PHPバージョン(最小)</label>
			<p><input type="text" name="php_min" size="10" /></p>
		</div>
		<div class="field">
			<label for="pear_min">PEARバージョン(最小)</label>
			<p><input type="text" name="pear_min" size="10" /></p>
		</div>
		<div class="field">
		    <p><input type="submit" value="リリース" /></p>
		</div>
		
		<script type="text/javascript">
			$('extConfigSwitch').click(function(){$('extConfig').toggle();});
		</script>
		<p><a href="#" id="extConfigSwitch">詳細な設定</a></p>
		<div id="extConfig" style="display:none;">
			<div class="field">
				<label for="baseinstalldir">インストール先</label>
				<p><input type="text" name="baseinstalldir" size="10" /></p>
			</div>
			<div class="field">
			    <p><input type="submit" value="リリース" /></p>
			</div>
		</div>
	</form>
</rt:block>
