<rt:extends href="base.html" />
<rt:block name="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/2column.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/1column.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/package.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
</rt:block>
<rt:block name="title">{$t.trans('Confirm')} \ {$t.trans('Release')} \ {$t.trans('Manage')} \ {$package.name()} \ {$t.trans('Package')} \ Openpear</rt:block>
<rt:block name="topic_path">
  <div id="topic-path">
    <a href="{$t.url()}">{$t.trans('Home')}</a> &raquo; <a href="{$t.url('packages')}">{$t.trans('Package')}</a> &raquo; <a href="{$t.url('package')}/{$package.name()}">{$package.name()}</a> &raquo; <a href="{$t.url('package')}/{$package.name()}/manage">{$t.trans('Manage Package')}</a> &raquo; {$t.trans('Release')} \ {$t.trans('Confirm')}
  </div>
</rt:block>
<rt:block name="package_main">
<div id="sub-package-description">

<div class="column1">

<div class="column2-left">
<h3>{$t.trans('Release Package Confirm')}</h3>


<form action="{$t.url('package')}/{$package.name()}/manage/release_do" method="post" id="release-package" rt:ref="true">

  <dl>
    <dt>{$t.trans('Target revision')}: </dt>
    <dd>
    {$revision}
    </dd>
    <dt>{$t.trans('Version')}: </dt>
    <dd>
    {$version_release_ver} - {$version_release_stab}
    </dd>
    <dt>{$t.trans('Target directory')} : </dt>
    <p class="caption"></p>
    <dd>
    {$t.trans('Repository')}: /Package_Hoge/trunk/<span class="inline-pre">src</span>
    <br />
    {$t.trans('Install target')}: PEAR_DIR/<span class="inline-pre"></span>
    </dd>
    <dt>{$t.trans('Notes')}: </dt>
    <dd>
    {$package_notes}
    </dd>
    <dt>{$t.trans('PHP min version / PEAR min version.')}</dt>
    <dd>
    PHP &gt;= {$version_php_min} / PEAR &gt;= {$version_pear_min}
    </dd>
    <dt>{$t.trans('Dependencies')}</dt>
    <dd>
      <ul id="release-dep-list" rt:param="dep" rt:var="d">
      <li>
       {$t.trans('Required')} : {$d['channel']}/{$d['package_name']}<br />
       {$d['min']} &lt;= Version &lt;= {$d['max']}
       </li>
      </ul>
    </dd>
    <dt>{$t.trans('Additional Files')}</dt>
    <dd>
    {$t.html($extra_conf)}
    </dd>
  </dl>
  <input type="submit" value="Release" class="small" />
</form>
</div> <!-- / column1 -->
<br class="clear" />
</div>
</div>
</rt:block>