<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">{$f.escape($object.name)}のリリース - openpear</rt:block>

<rt:block name="info">パッケージのビルドには多少時間がかかる場合があります。ボタン連打しないでね☆</rt:block>

<rt:block name="contents">
	<h3>パッケージをリリースする</h3>
    <p class="info">以下の設定でビルドを行います</p>
    <p>{$release.getHtml()}</p>

    <form action="{$rhaco.url('package')}/{$object.name}/release/do" method="post">
        <rt:loop param="vals" var="v">
        <input type="hidden" name="{$key}" value="{$v}" />
        </rt:loop>
        <p><input type="submit" value="_('release')" /></p>
    </form>
    <form action="{$rhaco.url('package')}/{$object.name}/release" method="post">
        <rt:loop param="vals" var="v">
        <input type="hidden" name="{$key}" value="{$v}" />
        </rt:loop>
        <p><input type="submit" value="_('cancel')" /></p>
    </form>

</rt:block>
