<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">{$f.escape($object.name)}のリリース - Open PEAR Server</rt:block>

<rt:block name="info">パッケージのビルドには多少時間がかかる場合があります。ボタン連打しないでね☆</rt:block>

<rt:block name="contents">
	<h3>パッケージをリリースする</h3>
	<form action="{$rhaco.uri()}" method="post" rt:reference="true">
		<div class="field">
		    <label for="name">パッケージ名</label>
		    <p>{$object.name}</p>
		</div>
		<div class="field">
			<label for="build_path">対象ディレクトリ</label>
			<p>/{$object.name}/<input type="text" name="build_path" value="trunk" /></p>
		</div>
		<div class="field">
		    <label for="version___l___release_ver">バージョン</label>
		    <p><input name="version___l___release_ver" type="text" size="10" /></p>
		</div>
		<div class="field">
		    <label for="version___l___release_stab">リリース状態</label>
		    <p><select name="version___l___release_stab">
		    	<option value="stable" selected>stable</option><option value="beta">beta</option><option value="alpha">alpha</option>
		    </select></p>
		</div>
		<div class="field">
			<label for="license___l___name">ライセンス</label>
			<p><input type="text" name="license___l___name" size="22" /></p>
		</div>
		<div class="field">
			<label for="license___l___uri">ライセンス参照先</label>
			<p><input type="text" name="license___l___uri" size="40" /></p>
		</div>
		<div class="field">
			<label for="version___l___php_min">PHPバージョン(最小)</label>
			<p><input type="text" name="version___l___php_min" size="10" /></p>
		</div>
		<div class="field">
			<label for="version___l___pear_min">PEARバージョン(最小)</label>
			<p><input type="text" name="version___l___pear_min" size="10" /></p>
		</div>
		<div class="field">
		    <p><input type="submit" value="リリース" /></p>
		</div>
		
		<!-- ひどい javascript で sotarok に dis られそうです -->
		<script type="text/javascript">
			var depCount = 0;
			$(function(){
				$('#extConfigSwitch').click(function(){$('#extConfig').fadeIn();return false;});
				$('input[@name=version___l___release_ver]').change(function(){
					$('input[@name=version___l___api_ver]').val($(this).val());
				});
				$('select[@name=version___l___release_stab]').change(function(){
					$('select[@name=version___l___api_stab]').val($(this).val());
				});
				$('#extConfigDep').click(function(){
					var id = depCount++;
					id = 'df_' + id.toString();
					var depForm = (function(){
						var form = '<div class="field" id="'+id+'">';
						form += '<label for="'+id+'">依存するパッケージ</label>';
						form += '<p><span class="name">パッケージ名</span>';
						form += ' <input type="text" name="'+id+'_name" size="20" rt:reference="false" />';
						form += ' <select name="type" class="type"><option value="required">required</option><option value="optional">optional</option></select>';
						form += ' <span class="name">チャンネル</span><input type="text" class="channel" size="15" value="{$rhaco.constant('CHANNEL')}" />';
						form += ' <a href="#" id="extConfigDepRm'+id+'" title="削除">x</a>';
						form += '</p></div>';
						return form;
					})();
					$(this).parent().after(depForm);
					$('input[@name='+id+'_name]').change(function(){
						var name = $(this).val();
						$('#'+id+' select.type').attr('name', 'dep://'+name+'___l___type');
						$('#'+id+' input.channel').attr('name', 'dep://'+name+'___l___channel');
					});
					$('#extConfigDepRm'+id).click(function(){$(this).parent().parent().remove();return false;});
					return false;
				});
			});
		</script>
		<p><a href="#" id="extConfigSwitch">詳細な設定</a></p>
		<div id="extConfig" style="display:none;">
			<p>これらは、必須な設定ではありません。</p>
			<div class="field">
				<label for="package___l___baseinstalldir">インストール先</label>
				<p><input type="text" name="package___l___baseinstalldir" size="30" /></p>
			</div>
			<div class="field">
				<label for="version___l___api_ver">APIバージョン</label>
				<p><input name="version___l___api_ver" type="text" size="10" /></p>
			</div>
			<div class="field">
			    <label for="version___l___release_stab">API状態</label>
			    <p><select name="version___l___api_stab">
			    	<option value="stable" selected>stable</option><option value="beta">beta</option><option value="alpha">alpha</option>
			    </select></p>
			</div>
			<p><a href="#" id="extConfigDep">依存関係を追加する</a></p>
			<div class="field">
			    <p><input type="submit" value="リリース" /></p>
			</div>
		</div>
	</form>
</rt:block>
