<rt:extends href="../index.html" />
<rt:block name="teaser"></rt:block>

<rt:block name="title">{$object.name}のリリース - Open PEAR Server</rt:block>

<rt:block name="info">パッケージのビルドには多少時間がかかる場合があります。ボタン連打しないでね☆</rt:block>

<rt:block name="contents">
	<h3>パッケージをリリースする</h3>
	<form action="{$rhaco.uri()}" method="post" rt:reference="true">
		<div class="field">
		    <label for="name">パッケージ名</label>
		    <p>{$object.name}</p>
		</div>
		<div class="field">
			<label for="build_path">対象ディレクトリ</label>
			<p>/{$object.name}/<input type="text" name="build_path" value="trunk" /></p>
		</div>
		<div class="field">
		    <label for="version|release_ver">バージョン</label>
		    <p><input name="version|release_ver" type="text" size="10" /></p>
		</div>
		<div class="field">
		    <label for="version|release_stab">リリース状態</label>
		    <p><select name="version|release_stab">
		    	<option value="stable" selected>stable</option><option value="beta">beta</option><option value="alpha">alpha</option>
		    </select></p>
		</div>
		<div class="field">
			<label for="license|name">ライセンス</label>
			<p><input type="text" name="license|name" size="22" /></p>
		</div>
		<div class="field">
			<label for="license|uri">ライセンス参照先</label>
			<p><input type="text" name="license|uri" size="40" /></p>
		</div>
		<div class="field">
			<label for="version|php_min">PHPバージョン(最小)</label>
			<p><input type="text" name="version|php_min" size="10" /></p>
		</div>
		<div class="field">
			<label for="version|pear_min">PEARバージョン(最小)</label>
			<p><input type="text" name="version|pear_min" size="10" /></p>
		</div>
		<div class="field">
		    <p><input type="submit" value="リリース" /></p>
		</div>
		
		<script type="text/javascript">
			$(function(){
				$('#extConfigSwitch').click(function(){$('#extConfig').fadeIn();});
			});
		</script>
		<p><a href="#" id="extConfigSwitch">詳細な設定</a></p>
		<div id="extConfig" style="display:none;">
			<p>これらは、必須な設定ではありません。</p>
			<div class="field">
				<label for="package|baseinstalldir">インストール先</label>
				<p><input type="text" name="package|baseinstalldir" size="30" /></p>
			</div>
			<div class="field">
			    <p><input type="submit" value="リリース" /></p>
			</div>
		</div>
	</form>
</rt:block>
