<rt:extends href="base.html" />
<rt:block name="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/package.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
  <link rel="stylesheet" href="js/prettify/prettify.css" type="text/css" media="all" />
</rt:block>
<rt:block name="extra_header"><script type="text/javascript" src="js/prettify/prettify.js"></script></rt:block>
<rt:block name="title">{$t.trans('Source')} \ {$package.name()} \ {$t.trans('Package')} \ Openpear</rt:block>
<rt:block name="package_navi_current_src"> class="current"</rt:block>
<rt:block name="topic_path">
  <div id="topic-path">
    <a href="{$t.url()}">{$t.trans('Home')}</a> &raquo; <a href="{$t.url('packages')}">{$t.trans('Packages')}</a> &raquo; <a href="{$t.url('package')}/{$package.name()}">{$package.name()}</a> &raquo; {$t.trans('Source')}
  </div>
</rt:block>

<rt:block name="package_main">
  <h3 class="fleft">
    {$ot.srcpath_link($package,$path)}
  </h3>
  
  <ul class="source-tree">
    <li id="source-tree">{$t.trans('other tree')} <img src="images/global-icon-tree.png" class="vmiddle" />
      <ul id="source-subtree">
        <rt:loop param="other_tree" key="other_path" var="current">
        <li><a href="{$t.url('package')}/{$package.name()}/src/{$other_path}"><rt:if param="{$current}"><img src="images/global-icon-checked.png" alt="checked" class="vmiddle" /> </rt:if>{$other_path}</a></li>
        </rt:loop>
      </ul>
    </li>
  </ul>

  <p class="clear mt0">
    {$t.trans('Subversion URL')}: <a href="{$real_url}">{$real_url}</a>
  </p>
  
  <div class="sub-package-description">
    <p class="title">
      {$t.trans('Recent change')}
    </p>
    <p class="description">
      <img src="{$info['recent']['maintainer'].avatar()}" /> <a href="{$t.url('maintainer')}/{$info['recent']['maintainer'].name()}">{$info['recent']['maintainer'].name()}</a> <a href="{$t.url('package')}/{$package.name()}/changeset/{$info['recent']['revision']}">[{$info['recent']['revision']}]</a> <span class="italic darkgray"> -- {$ot.date_ago($info['recent']['date'])}</span><br />
      {$t.html($info['recent']['msg'])}
    </p>
  </div>
  <rt:if param="{$externals}">
  <div class="sub-package-description">
    <p class="title">
      {$t.trans('Subversion externals')}
    </p>
    <p class="description">
      svn:externals {$externals}
    </p>
  </div>
  </rt:if>
  
  <table id="package-source">
    <thead>
      <tr>
        <th></th>
        <th>{$t.trans('name')}</th>
        <th>{$t.trans('age')}</th>
        <th class="w500px">{$t.trans('comment')}</th>
      </tr>
    </thead>
    
    <tbody>
      <rt:comment>
      TODO:
        - ルートのときは .. を表示ない
        - パスをよしなに
        - age に ** days ago を表示する ([4] とかの横)
      </rt:comment>
      <rt:if param="{$path}" value="">
      <rt:else>
        <tr class="odd">
          <td class="icon">
            <img src="images/source_browser/dir.png" alt="dir" />
          </td>
          <td class="name">
              <a href="{$t.url('package')}/{$package.name()}/src{$path}/../">..</a>
          </td>
          <td class="age">
          </td>
          <td class="comment">
            
          </td>
        </tr>
      </rt:if>
      <rt:loop param="tree" var="f">
      <tr class="{$loop_evenodd}">
        <td class="icon">
          <rt:if param="{$f['kind']}" value="dir">
            <img src="images/source_browser/dir.png" alt="dir" />
          <rt:else />
            <img src="images/source_browser/file.png" alt="file" />
          </rt:if>
        </td>
        <td class="name">
          <a href="{$t.url('package')}/{$package.name()}/src/{$path}/{$f['name']}">{$f['name']}<rt:if param="{$f['kind']}" value="dir">/</rt:if></a>
        </td>
        <td class="age">
          <a href="{$t.url('package')}/{$package.name()}/changeset/{$f['commit']['revision']}">[{$f['commit']['revision']}]</a> {$ot.date_ago($f['commit']['date'])}
        </td>
        <td class="comment">
          
          {$t.html($f['log']['msg'])}
          <img src="{$f['maintainer'].avatar()}" /> <a href="{$t.url('maintainer')}/{$f['maintainer'].name()}">{$f['maintainer'].name()}</a>
          
        </td>
      </tr>
      </rt:loop>
    </tbody>
  </table>

  <br class="clear">
</rt:block>
