<rt:extends href="../index.html" />
<rt:block name="stylesheet">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/2column.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/inbox.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
</rt:block>

<rt:block name="title">{$t.trans('Inbox')} \  Openpear</rt:block>

<rt:block name="topic_path">
  <div id="topic-path">
    <a href="{$t.url()}">Home</a> &raquo; {$t.trans('Inbox')}
  </div>
</rt:block>

<rt:block name="contents">
  <div class="frame-class" id="sub-title">
    <div class="container-class">
      <h2 class="inline fleft">{$t.trans('Inbox')}</h2>
      <br class="clear" />
    </div> <!-- #container-s -->
  </div> <!-- .frame-class -->


<div class="container-class">
  <div class="column2-lt">
    <div class="column2-left" id="message-left">
      <h3>{$t.trans('Boxes')}</h3>

      <ul id="message-box-list">
        <li class="current"><a href="">{$t.trans('System messages')}</a></li>
        <li><a href="">{$t.trans('Sent')}</a></li>
      </ul>


    </div> <!-- end of colmun2-left -->
    <div class="column2-right">

      <div id="message-list-outer">

      <table id="message-list" rt:param="object_list" rt:var="message">
        <thead>
          <tr>
            <th class="mesasge-list-from">{$t.trans('From')}</th>
            <th class="message-list-title">{$t.trans('Title')}</th>
            <th class="mesasge-list-date">{$t.trans('Date')}</th>
            <th class="message-list-op">{$t.trans('Operations')}</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="4">
              <rt:if param="{$paginator.is_prev()}"><p class="fleft m0">&laquo; <a href="?{$paginator.query_prev()}">Previous</a></p></rt:if>
              <rt:if param="{$paginator.is_next()}"><p class="fright m0"><a href="?{$paginator.query_prev()}">Next</a> &raquo;</p></rt:if>
            </td>
          </tr>
        </tfoot>
        <tbody>
          <tr class="even {$message.fm_unread()}">
            <td><img src="images/global-icon-mail.png" /> Openpear </td>
            <td><a href="">{$t.htmlencode($message.subject())}</a></td>
            <td class="message-list-date">{$message.fm_created()}</td>
            <td><img src="images/global-icon-delete.png" /></td>
          </tr>
        </tbody>
      </table>

    </div>

      <br class="clear" />
    </div> <!-- end of column2-right -->
    <br class="clear" />
  </div> <!-- end of colmun2-lt -->
</div> <!-- end of container-class -->

</rt:block>
