/*
  project: web application template
  author: luka cvrk (www.solucija.com)
*/

*{ margin: 0; padding: 0; }*

body {
  margin: 0 0;
  background: #fff url(../images/bg.gif) repeat-x;
  font: .74em "Trebuchet MS", Arial, Sans-Serif, "ＭＳ Ｐゴシック";
  color: #444;
}


/* sections
 *************** */
h1 {
  font-size: 3em;
  font-weight: normal;
  float: left;
}

h1 a {
  text-decoration: none;
}

h2 {
  font-size: 2em;
  color: #FFF2B3;
  font-weight: normal;
  margin: 0 0 .8em;
}

h3 {
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
  margin: 0 0 0.5em;
  font-family: "Trebuchet MS", Arial, Sans-Serif, Osaka, "メイリオ";
}
h3.big {
  font-size: 2.5em;
}

h3 a {
  text-decoration: none;
}

h3 a:hover {
  text-decoration: none;
  font-style: italic;
}

h4 {
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
  font-weight: 900;
  font-family: Verdana, Osaka, "メイリオ";
  letter-spacing: -0.1em;
  margin: 0 0 0.5em;
}
h4 a {
  text-decoration: none;
}
h4 a:hover {
  text-decoration: none;
  font-style: italic;
}
p {
  font-family: Arial,"ＭＳ Ｐゴシック" ;
  margin: 0 0 2em 0;
  line-height: 1.7em;
}
em {
  border-bottom: 1px dotted #fff;
  cursor: pointer;
}

a {
  color: #9D2900;
}
a:hover {
  color: #A0000E;
  text-decoration: none;
}
img {
  border: 0;
}

/* classes
 **** */
.red {
  color: #9D2900;
}
.wrap {
  width: 900px;
  margin: 0 auto;
}
.monospace {
  font-family: consolas, "Courier New", monospace;
}

/* page layout
 --------------------------------------------------*/ 

#header {
  width: 900px;
  height: 100px;
  margin: 0 auto;
}
#header h1 {
  margin-top: 50px;
}

#menu  {
  float: right;
  padding: 6px 0 0 0;
  list-style: none;
  margin-top: 50px;
}
#menu li {
  display: inline;
}
#menu a {
  display: block;
  float: left;
  margin-left: 25px;
  padding: 7px 7px 3px 7px;
  text-decoration: none;
  font-size: 13px;
  color: #000000;
}
#menu a:hover {
  color: #000;
  border-bottom: 2px solid #ccc;
}
#menu .active a {
border-bottom: 2px solid #C70012;
  color: #9D2900;
}
 
#teaser { clear: both; height: 259px; background: #fff url(../images/teaserbg.jpg) repeat-x; }
  .box { float: left; padding: 66px 0 0; width: 480px; color: #f1e6e6; }
  #image { float: right; width: 388px; position: relative; top: 11px; background: url(../images/logotype.jpg) no-repeat top right; height: 258px; }
  
#bar { height: 40px; margin: 0 0 30px; padding: 8px 0 0 0; background: url(../images/bar.gif) repeat-x; }
  .step { cursor: pointer; color: #FAFDDD; padding: 4px 0 0 11px; margin: 0 35px 0 0; font-size: 1.4em; float: left; text-align: center; background: url(../images/step.gif) no-repeat; height: 30px; }
  .step a { color: #fff; margin: 0 10px 0 0; }
  
.col { float: left; width: 276px; margin: 0 30px 10px 0; overflow: hidden; }
  .last { float: right; margin: 0; }
  .info { border: 1px solid #e0e0e0; background: #f4f4f4; padding: 7px; }
  .col p {line-height: 1.7em;}

#footer { clear: both; width: 900px; margin: 0 auto; padding: 15px; border-top: 1px solid #e0e0e0; background: #fff url(../images/small_logotype.jpg) no-repeat right 13px; } 
#footer .right { 
  float: right; 
  margin: 0 28px  0; 
  text-align: right;
}
#footer a { color: #808080; font-weight: bold; }


/*
  additional
*/
.notice {
    background-color: #ffb6c1; 
}
form div.field {
    margin: 10px;
    border-bottom: 1px solid #eee;
}
form div.field label {
    position: absolute;
    text-align: right;
    width: 170px;
}
form div.field p ,
form div.field div {
  margin: 5px 15px 5px 180px;
}
form div.field ul.info-list {
  margin-left: 30px;
}
dl {
  margin: 10px;
}
dt {
  margin: 5px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  font-size: 1.4em;
  color: #666;
}
dd {
  margin: 5px 20px;
}
#favorites p span {
    margin-left: 5px;
}

/* repository
 ------------------- */

.repository, .release {
    width: 100%;
}
.repository th, .release th {
    padding: 10px;
    background: #ccc;
}
.repository td, .release td {
    padding: 5px;
}
.repository tr.even td, .release tr.even td {
    background: #eee;
}
pre.prettyprint {
    font-size: 12px;
    font-family: consolas, "Courier New", monospace;
}
.repository tr.dir td.name {
    font-weight: bold;
}

.repository th.revision ,
.repository td.revision {
  width: 10%;
  white-space: nowrap;
}

/* search form
 ------------------- */

#search_form {
  margin: 0 auto;
}
#search_form form label {
  font-weight: bold;
}
#search_form form input[type=text] {
  border: solid 1px #ccc;
  width: 280px;
  padding: 2px;

}
#search_form form input[type=submit] {
  padding 1px 10px;
}

/* pager
 ------------------- */

#pager {
  text-align: center;
  height: 40px;
}

#pager span {
  margin: 2px;
  font-size: 13px;
}

#pager strong,
#pager a {
  border: solid 1px #ccc;
  padding: 3px 7px;
  font-weight: bold;
}
#pager a:hover {
  color: #fff;
  background: #A0000E;
}

div.section p {
  margin: 0.2em 0;
}

/* package, profile
 ------------------- */
.description, .profile {
  margin: 5px 5px 10px 10px;
  padding-left: 10px;
  border-left: solid 2px #ccc;
}

#files li.dir {
  font-weight: bold;
}
#files li.added {
  list-style-image: url(../images/added.png);
}
#files li.modified {
  list-style-image: url(../images/modified.png);
}
#files li.removed {
  list-style-image: url(../images/removed.png);
}